.navs
{
    background-color: #333;
    overflow: hidden;
}

.navs a
{
    float: left;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav-right
{
    float: right;
}

.sidenav
{
    background-color: #333;
    width: 160px;
    height: 100%;
    position: fixed;
    padding-top: 20px;
    top: 52px;
    z-index: 1;
}

.sidenav a
{
    color: #f1f1f1;
    font-size: 20px;
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    display: block;
}

.main
{
    padding: 0px 10px;
    margin-left: 160px;
}

// @media only screen and (min-width: 400px) 
// {
//     .main
//     {
//         color: blue;
//     }
// }